{% extends 'base.html.twig' %}

{% block title %}Quiz - Catégories{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="row justify-content-center">
{% for name in name %}
<div class="col-lg-3 m-2 text-center">
    <h4><a href="/admin/quizdetails/{{name.id}}">{{ name.name }}</a></h4>
</div>
{% endfor %}

</div>
<div class="row justify-content-center">
<div class="col-lg-6">
<a href="{{path('home')}}" class="btn btn-lg bg-lightblue border-lightblue text-green d-flex justify-content-center">
Retour à la page principale</a>
<a href="{{path('create_quiz')}}" class="btn btn-lg bg-lightblue border-lightblue text-green mt-3">
Retour à la création de quiz</a>
</div>
</div>
</div>
{% endblock %}