{% extends 'base.html.twig' %}

{% block title %}Quiz - Catégories{% endblock %}

{% block body %}
<div class="container">
<div class="row mt-3 justify-content-center">
{% for categorie in categorie %}
<div class="col-lg-3 m-2 text-center bg-lightblue py-5 rounded my-3">
    <h4 class="align-middle my-2"><a class="color-lightblue" href="/quiz/quizname/{{categorie.id}}">{{ categorie.name }}</a></h4>
</div>
{% endfor %}

</div>
<div class="row mt-5 justify-content-center pt-5">
<div class="col-lg-6">

<a href="{{path('home')}}" class="btn mb-3 btn-lg bg-lightblue border-lightblue text-green d-flex justify-content-center">
Retour à la page principale</a>
</div>
</div>
</div>
{% endblock %}